In [194]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score
import hvplot.pandas
from bokeh.sampledata.autompg import autompg_clean as df
import datetime as dt
import pytz

In [195]:
# Load the arestee.csv dataset.
df = pd.read_csv("IL/NIBRS_ARRESTEE.csv")
df.head()

,DATA_YEAR,ARRESTEE_ID,INCIDENT_ID,ARRESTEE_SEQ_NUM,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID,AGE_ID,AGE_NUM,SEX_CODE,RACE_ID,ETHNICITY_ID,RESIDENT_CODE,UNDER_18_DISPOSITION_CODE,CLEARANCE_IND,AGE_RANGE_LOW_NUM,AGE_RANGE_HIGH_NUM
0,2019,33189213,111310423,1,01-MAR-19,2,N,16,5,13,F,2,2,R,R,NaN,13,0
1,2019,33182447,111310447,1,05-MAR-19,2,N,16,5,29,F,1,2,R,NaN,NaN,29,0
2,2019,33182461,111317969,1,08-MAR-19,1,N,16,5,14,M,2,2,R,R,NaN,14,0
3,2019,33189268,111310543,1,18-MAR-19,1,N,5,5,31,F,1,2,R,NaN,NaN,31,0
4,2019,33182483,111310559,1,19-MAR-19,3,N,16,5,44,M,2,2,N,NaN,NaN,44,0

In [196]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4140 entries, 0 to 4139
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATA_YEAR                  4140 non-null   int64
 1   ARRESTEE_ID                4140 non-null   int64
 2   INCIDENT_ID                4140 non-null   int64
 3   ARRESTEE_SEQ_NUM           4140 non-null   int64
 4   ARREST_DATE                4140 non-null   object
 5   ARREST_TYPE_ID             4140 non-null   int64
 6   MULTIPLE_INDICATOR         4140 non-null   object
 7   OFFENSE_TYPE_ID            4140 non-null   int64
 8   AGE_ID                     4140 non-null   int64
 9   AGE_NUM                    4140 non-null   int64
 10  SEX_CODE                   4140 non-null   object
 11  RACE_ID                    4140 non-null   int64
 12  ETHNICITY_ID               4140 non-null   int64
 13  RESIDENT_CODE              4140 non-null   object
 14  UNDER_18_DISPOSITION_CODE  511 non-null    object
 15  CLEARANCE_IND              0 non-null      float64
 16  AGE_RANGE_LOW_NUM          4140 non-null   int64
 17  AGE_RANGE_HIGH_NUM         4140 non-null   int64
dtypes: float64(1), int64(12), object(5)
memory usage: 582.3+ KB

,DATA_YEAR,ARRESTEE_ID,INCIDENT_ID,ARRESTEE_SEQ_NUM,ARREST_TYPE_ID,OFFENSE_TYPE_ID,AGE_ID,AGE_NUM,RACE_ID,ETHNICITY_ID,CLEARANCE_IND,AGE_RANGE_LOW_NUM,AGE_RANGE_HIGH_NUM
count,4140.0,4.140000e+03,4.140000e+03,4140.000000,4140.000000,4140.000000,4140.0,4140.000000,4140.000000,4140.000000,0.0,4140.000000,4140.0
mean,2019.0,3.503123e+07,1.158294e+08,1.240580,1.677778,34.610628,5.0,31.238406,1.620531,1.935266,NaN,31.238406,0.0
std,0.0,1.494109e+06,3.848294e+06,1.290812,0.877927,16.292435,0.0,13.005841,0.558891,0.338641,NaN,13.005841,0.0
min,2019.0,3.197130e+07,1.073647e+08,1.000000,1.000000,2.000000,5.0,8.000000,0.000000,1.000000,NaN,8.000000,0.0
25%,2019.0,3.405283e+07,1.133848e+08,1.000000,1.000000,21.000000,5.0,21.000000,1.000000,2.000000,NaN,21.000000,0.0
50%,2019.0,3.482051e+07,1.157488e+08,1.000000,1.000000,39.000000,5.0,29.000000,2.000000,2.000000,NaN,29.000000,0.0
75%,2019.0,3.625525e+07,1.188924e+08,1.000000,3.000000,51.000000,5.0,39.000000,2.000000,2.000000,NaN,39.000000,0.0
max,2019.0,3.761454e+07,1.225162e+08,26.000000,3.000000,56.000000,5.0,83.000000,8.000000,3.000000,NaN,83.000000,0.0

In [197]:
df['ARREST_DATE'].map(lambda x: x.split('-')[1]).value_counts()

AUG    415
SEP    406
JUL    390
OCT    370
JAN    363
APR    354
JUN    337
MAY    330
NOV    324
DEC    303
MAR    302
FEB    246
Name: ARREST_DATE, dtype: int64

In [203]:
df['ARREST_DATE'] = pd.to_datetime(df['ARREST_DATE'])
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4140 entries, 0 to 4139
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DATA_YEAR                  4140 non-null   int64
 1   ARRESTEE_ID                4140 non-null   int64
 2   INCIDENT_ID                4140 non-null   int64
 3   ARRESTEE_SEQ_NUM           4140 non-null   int64
 4   ARREST_DATE                4140 non-null   datetime64[ns]
 5   ARREST_TYPE_ID             4140 non-null   int64
 6   MULTIPLE_INDICATOR         4140 non-null   object
 7   OFFENSE_TYPE_ID            4140 non-null   int64
 8   AGE_ID                     4140 non-null   int64
 9   AGE_NUM                    4140 non-null   int64
 10  SEX_CODE                   4140 non-null   object
 11  RACE_ID                    4140 non-null   int64
 12  ETHNICITY_ID               4140 non-null   int64
 13  RESIDENT_CODE              4140 non-null   object
 14  UNDER_18_DISPOSITION_CODE  511 non-null    object
 15  CLEARANCE_IND              0 non-null      float64
 16  AGE_RANGE_LOW_NUM          4140 non-null   int64
 17  AGE_RANGE_HIGH_NUM         4140 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(12), object(4)
memory usage: 582.3+ KB

,DATA_YEAR,ARRESTEE_ID,INCIDENT_ID,ARRESTEE_SEQ_NUM,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID,AGE_ID,AGE_NUM,SEX_CODE,RACE_ID,ETHNICITY_ID,RESIDENT_CODE,UNDER_18_DISPOSITION_CODE,CLEARANCE_IND,AGE_RANGE_LOW_NUM,AGE_RANGE_HIGH_NUM
0,2019,33189213,111310423,1,2019-03-01,2,N,16,5,13,F,2,2,R,R,NaN,13,0
1,2019,33182447,111310447,1,2019-03-05,2,N,16,5,29,F,1,2,R,NaN,NaN,29,0
2,2019,33182461,111317969,1,2019-03-08,1,N,16,5,14,M,2,2,R,R,NaN,14,0
3,2019,33189268,111310543,1,2019-03-18,1,N,5,5,31,F,1,2,R,NaN,NaN,31,0
4,2019,33182483,111310559,1,2019-03-19,3,N,16,5,44,M,2,2,N,NaN,NaN,44,0

In [205]:
df['ARREST_DATE']

0      2019-03-01
1      2019-03-05
2      2019-03-08
3      2019-03-18
4      2019-03-19
          ...
4135   2019-10-16
4136   2019-10-08
4137   2019-10-08
4138   2019-05-21
4139   2019-09-28
Name: ARREST_DATE, Length: 4140, dtype: datetime64[ns]

In [206]:
def get_season(date):
    if date > '2019-12-21':
        return "winter"
    elif date > '2019-06-21':
        return 'summer'
    elif date > '2019-03-21':
        return 'spring'
    else:
        return "fall"

In [211]:
# target but encode it df column arrest season
seasons = df["ARREST_DATE"].map(str).map(get_season).value_counts()
#df['ARREST_DATE'] = pd.to_datetime(df['ARREST_DATE'])
#df['ARREST_DATE']
seasons

summer    2230
spring    1020
fall       711
winter     179
Name: ARREST_DATE, dtype: int64

In [71]:
months = {"JAN" : "January", "FEB" : "February", "MAR" : "March", "APR" : "April", "MAY" : "May", "JUN" : "June", "JUL" : "July", "AUG" : "August", "SEP" : "September", "OCT" : "October", "NOV" : "November", "DEC" : "December"}
months["JAN"]

'January'

In [81]:
months_1 = {"JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"}
for i in months_1:
    datetime.datetime.strptime(i,'%b').strftime('%B')
print(months_1)

{'JUN', 'JUL', 'FEB', 'AUG', 'NOV', 'MAR', 'DEC', 'SEP', 'MAY', 'JAN', 'APR', 'OCT'}

In [161]:
for i in df['ARREST_DATE']:
    datetime.datetime.strptime('i','%b').strftime('%B')

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [78]:
april = datetime.datetime.strptime('APR','%b').strftime('%B')
april

'April'

In [158]:
from datetime import date, datetime

Y = 2019 

seasons = [('winter', (date(Y,  1,  1),  date(Y,  3, 20))),
           ('spring', (date(Y,  3, 21),  date(Y,  6, 20))),
           ('summer', (date(Y,  6, 21),  date(Y,  9, 22))),
           ('autumn', (date(Y,  9, 23),  date(Y, 12, 20))),
           ('winter', (date(Y, 12, 21),  date(Y, 12, 31)))]

def get_season(now):
    if isinstance(now, datetime):
        now = now.date()
    now = now.replace(year=Y)
    return next(season for season, (start, end) in seasons
                if start <= now <= end)

# print(get_season(date.today()))
#for i in seasons:
#    print(i);

ValueError: Must have equal len keys and value when setting with an ndarray

In [19]:
import datetime
d = datetime.date(2019, 7 , 24)
print(d)

2019-07-24

In [20]:
today = datetime.date.today()
print(today)

2021-09-08

In [21]:
birthday = datetime.date(1993, 8, 1)
print(birthday)

1993-08-01

In [22]:
days_since_birth = (today - birthday).days
print(days_since_birth)

10265

In [23]:
tdelta = datetime.timedelta(days=10)
print(today - tdelta)

2021-08-29

In [25]:
print(today.month)

9

In [26]:
print(today.day)

8

In [28]:
print(today.weekday())

2

In [29]:
print(datetime.time(7, 2, 20, 15))

07:02:20.000015

In [30]:
# Add 10 hours to current day 
hour_delta = datetime.timedelta(hours=10)
print(datetime.datetime.now() + hour_delta)

2021-09-09 02:21:22.462935

In [37]:
datetime_today = datetime.datetime.now(tz=pytz.UTC)
datetime_pacific = datetime_today.astimezone(pytz.timezone('US/Pacific'))
print(datetime_pacific)
for tz in pytz.all_timezones:
    print(tz)

2021-09-08 13:29:26.343389-07:00
Africa/Abidjan
Africa/Accra
Africa/Addis_Ababa
Africa/Algiers
Africa/Asmara
Africa/Asmera
Africa/Bamako
Africa/Bangui
Africa/Banjul
Africa/Bissau
Africa/Blantyre
Africa/Brazzaville
Africa/Bujumbura
Africa/Cairo
Africa/Casablanca
Africa/Ceuta
Africa/Conakry
Africa/Dakar
Africa/Dar_es_Salaam
Africa/Djibouti
Africa/Douala
Africa/El_Aaiun
Africa/Freetown
Africa/Gaborone
Africa/Harare
Africa/Johannesburg
Africa/Juba
Africa/Kampala
Africa/Khartoum
Africa/Kigali
Africa/Kinshasa
Africa/Lagos
Africa/Libreville
Africa/Lome
Africa/Luanda
Africa/Lubumbashi
Africa/Lusaka
Africa/Malabo
Africa/Maputo
Africa/Maseru
Africa/Mbabane
Africa/Mogadishu
Africa/Monrovia
Africa/Nairobi
Africa/Ndjamena
Africa/Niamey
Africa/Nouakchott
Africa/Ouagadougou
Africa/Porto-Novo
Africa/Sao_Tome
Africa/Timbuktu
Africa/Tripoli
Africa/Tunis
Africa/Windhoek
America/Adak
America/Anchorage
America/Anguilla
America/Antigua
America/Araguaina
America/Argentina/Buenos_Aires
America/Argentina/Catamarca
America/Argentina/ComodRivadavia
America/Argentina/Cordoba
America/Argentina/Jujuy
America/Argentina/La_Rioja
America/Argentina/Mendoza
America/Argentina/Rio_Gallegos
America/Argentina/Salta
America/Argentina/San_Juan
America/Argentina/San_Luis
America/Argentina/Tucuman
America/Argentina/Ushuaia
America/Aruba
America/Asuncion
America/Atikokan
America/Atka
America/Bahia
America/Bahia_Banderas
America/Barbados
America/Belem
America/Belize
America/Blanc-Sablon
America/Boa_Vista
America/Bogota
America/Boise
America/Buenos_Aires
America/Cambridge_Bay
America/Campo_Grande
America/Cancun
America/Caracas
America/Catamarca
America/Cayenne
America/Cayman
America/Chicago
America/Chihuahua
America/Coral_Harbour
America/Cordoba
America/Costa_Rica
America/Creston
America/Cuiaba
America/Curacao
America/Danmarkshavn
America/Dawson
America/Dawson_Creek
America/Denver
America/Detroit
America/Dominica
America/Edmonton
America/Eirunepe
America/El_Salvador
America/Ensenada
America/Fort_Nelson
America/Fort_Wayne
America/Fortaleza
America/Glace_Bay
America/Godthab
America/Goose_Bay
America/Grand_Turk
America/Grenada
America/Guadeloupe
America/Guatemala
America/Guayaquil
America/Guyana
America/Halifax
America/Havana
America/Hermosillo
America/Indiana/Indianapolis
America/Indiana/Knox
America/Indiana/Marengo
America/Indiana/Petersburg
America/Indiana/Tell_City
America/Indiana/Vevay
America/Indiana/Vincennes
America/Indiana/Winamac
America/Indianapolis
America/Inuvik
America/Iqaluit
America/Jamaica
America/Jujuy
America/Juneau
America/Kentucky/Louisville
America/Kentucky/Monticello
America/Knox_IN
America/Kralendijk
America/La_Paz
America/Lima
America/Los_Angeles
America/Louisville
America/Lower_Princes
America/Maceio
America/Managua
America/Manaus
America/Marigot
America/Martinique
America/Matamoros
America/Mazatlan
America/Mendoza
America/Menominee
America/Merida
America/Metlakatla
America/Mexico_City
America/Miquelon
America/Moncton
America/Monterrey
America/Montevideo
America/Montreal
America/Montserrat
America/Nassau
America/New_York
America/Nipigon
America/Nome
America/Noronha
America/North_Dakota/Beulah
America/North_Dakota/Center
America/North_Dakota/New_Salem
America/Nuuk
America/Ojinaga
America/Panama
America/Pangnirtung
America/Paramaribo
America/Phoenix
America/Port-au-Prince
America/Port_of_Spain
America/Porto_Acre
America/Porto_Velho
America/Puerto_Rico
America/Punta_Arenas
America/Rainy_River
America/Rankin_Inlet
America/Recife
America/Regina
America/Resolute
America/Rio_Branco
America/Rosario
America/Santa_Isabel
America/Santarem
America/Santiago
America/Santo_Domingo
America/Sao_Paulo
America/Scoresbysund
America/Shiprock
America/Sitka
America/St_Barthelemy
America/St_Johns
America/St_Kitts
America/St_Lucia
America/St_Thomas
America/St_Vincent
America/Swift_Current
America/Tegucigalpa
America/Thule
America/Thunder_Bay
America/Tijuana
America/Toronto
America/Tortola
America/Vancouver
America/Virgin
America/Whitehorse
America/Winnipeg
America/Yakutat
America/Yellowknife
Antarctica/Casey
Antarctica/Davis
Antarctica/DumontDUrville
Antarctica/Macquarie
Antarctica/Mawson
Antarctica/McMurdo
Antarctica/Palmer
Antarctica/Rothera
Antarctica/South_Pole
Antarctica/Syowa
Antarctica/Troll
Antarctica/Vostok
Arctic/Longyearbyen
Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Ashkhabad
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Calcutta
Asia/Chita
Asia/Choibalsan
Asia/Chongqing
Asia/Chungking
Asia/Colombo
Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Harbin
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Istanbul
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kashgar
Asia/Kathmandu
Asia/Katmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macao
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Rangoon
Asia/Riyadh
Asia/Saigon
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Tel_Aviv
Asia/Thimbu
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ujung_Pandang
Asia/Ulaanbaatar
Asia/Ulan_Bator
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan
Atlantic/Azores
Atlantic/Bermuda
Atlantic/Canary
Atlantic/Cape_Verde
Atlantic/Faeroe
Atlantic/Faroe
Atlantic/Jan_Mayen
Atlantic/Madeira
Atlantic/Reykjavik
Atlantic/South_Georgia
Atlantic/St_Helena
Atlantic/Stanley
Australia/ACT
Australia/Adelaide
Australia/Brisbane
Australia/Broken_Hill
Australia/Canberra
Australia/Currie
Australia/Darwin
Australia/Eucla
Australia/Hobart
Australia/LHI
Australia/Lindeman
Australia/Lord_Howe
Australia/Melbourne
Australia/NSW
Australia/North
Australia/Perth
Australia/Queensland
Australia/South
Australia/Sydney
Australia/Tasmania
Australia/Victoria
Australia/West
Australia/Yancowinna
Brazil/Acre
Brazil/DeNoronha
Brazil/East
Brazil/West
CET
CST6CDT
Canada/Atlantic
Canada/Central
Canada/Eastern
Canada/Mountain
Canada/Newfoundland
Canada/Pacific
Canada/Saskatchewan
Canada/Yukon
Chile/Continental
Chile/EasterIsland
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc/GMT
Etc/GMT+0
Etc/GMT+1
Etc/GMT+10
Etc/GMT+11
Etc/GMT+12
Etc/GMT+2
Etc/GMT+3
Etc/GMT+4
Etc/GMT+5
Etc/GMT+6
Etc/GMT+7
Etc/GMT+8
Etc/GMT+9
Etc/GMT-0
Etc/GMT-1
Etc/GMT-10
Etc/GMT-11
Etc/GMT-12
Etc/GMT-13
Etc/GMT-14
Etc/GMT-2
Etc/GMT-3
Etc/GMT-4
Etc/GMT-5
Etc/GMT-6
Etc/GMT-7
Etc/GMT-8
Etc/GMT-9
Etc/GMT0
Etc/Greenwich
Etc/UCT
Etc/UTC
Etc/Universal
Etc/Zulu
Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich
GB
GB-Eire
GMT
GMT+0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian/Antananarivo
Indian/Chagos
Indian/Christmas
Indian/Cocos
Indian/Comoro
Indian/Kerguelen
Indian/Mahe
Indian/Maldives
Indian/Mauritius
Indian/Mayotte
Indian/Reunion
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico/BajaNorte
Mexico/BajaSur
Mexico/General
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific/Apia
Pacific/Auckland
Pacific/Bougainville
Pacific/Chatham
Pacific/Chuuk
Pacific/Easter
Pacific/Efate
Pacific/Enderbury
Pacific/Fakaofo
Pacific/Fiji
Pacific/Funafuti
Pacific/Galapagos
Pacific/Gambier
Pacific/Guadalcanal
Pacific/Guam
Pacific/Honolulu
Pacific/Johnston
Pacific/Kiritimati
Pacific/Kosrae
Pacific/Kwajalein
Pacific/Majuro
Pacific/Marquesas
Pacific/Midway
Pacific/Nauru
Pacific/Niue
Pacific/Norfolk
Pacific/Noumea
Pacific/Pago_Pago
Pacific/Palau
Pacific/Pitcairn
Pacific/Pohnpei
Pacific/Ponape
Pacific/Port_Moresby
Pacific/Rarotonga
Pacific/Saipan
Pacific/Samoa
Pacific/Tahiti
Pacific/Tarawa
Pacific/Tongatapu
Pacific/Truk
Pacific/Wake
Pacific/Wallis
Pacific/Yap
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Samoa
UTC
Universal
W-SU
WET
Zulu

In [43]:
# string formatting with dates
# 2019-03-09 -> March 3, 2019
print(datetime_pacific.strftime('%B %d %Y'))

September 08 2021