In [19]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas
from bokeh.sampledata.autompg import autompg_clean as df

In [20]:
# Load the listings.csv dataset.
file_path = "listings.csv"
listings_df = pd.read_csv(file_path)
listings_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,85,1,185,2021-06-21,2.45,1,338
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,65,2,401,2021-05-22,3.32,1,59
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,143,4,28,2021-06-21,0.32,10,102
3,12068,Chicago GOLD COAST 1 Bedroom Condo,40731,Dominic,NaN,Near North Side,41.90491,-87.63213,Entire home/apt,99,7,11,2021-05-09,0.14,1,242
4,12140,Lincoln Park Guest House,46734,Sharon And Robert,NaN,Lincoln Park,41.92357,-87.64947,Private room,329,2,7,2021-07-06,0.10,1,165

In [21]:
X = pd.get_dummies(listings_df, columns=['neighbourhood','room_type', 'last_review'], prefix_sep='_')
X.head()

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,...,last_review_2021-07-01,last_review_2021-07-02,last_review_2021-07-03,last_review_2021-07-04,last_review_2021-07-05,last_review_2021-07-06,last_review_2021-07-07,last_review_2021-07-08,last_review_2021-07-09,last_review_2021-07-10
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,41.78790,-87.58780,85,1,185,...,0,0,0,0,0,0,0,0,0,0
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,41.90166,-87.68021,65,2,401,...,0,0,0,0,0,0,0,0,0,0
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,41.91196,-87.63981,143,4,28,...,0,0,0,0,0,0,0,0,0,0
3,12068,Chicago GOLD COAST 1 Bedroom Condo,40731,Dominic,NaN,41.90491,-87.63213,99,7,11,...,0,0,0,0,0,0,0,0,0,0
4,12140,Lincoln Park Guest House,46734,Sharon And Robert,NaN,41.92357,-87.64947,329,2,7,...,0,0,0,0,0,1,0,0,0,0

In [22]:
X.drop(columns=["name", "host_name"], axis=1, inplace=True)
X.head()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,...,last_review_2021-07-01,last_review_2021-07-02,last_review_2021-07-03,last_review_2021-07-04,last_review_2021-07-05,last_review_2021-07-06,last_review_2021-07-07,last_review_2021-07-08,last_review_2021-07-09,last_review_2021-07-10
0,2384,2613,NaN,41.78790,-87.58780,85,1,185,2.45,1,...,0,0,0,0,0,0,0,0,0,0
1,7126,17928,NaN,41.90166,-87.68021,65,2,401,3.32,1,...,0,0,0,0,0,0,0,0,0,0
2,10945,33004,NaN,41.91196,-87.63981,143,4,28,0.32,10,...,0,0,0,0,0,0,0,0,0,0
3,12068,40731,NaN,41.90491,-87.63213,99,7,11,0.14,1,...,0,0,0,0,0,0,0,0,0,0
4,12140,46734,NaN,41.92357,-87.64947,329,2,7,0.10,1,...,0,0,0,0,0,1,0,0,0,0

In [23]:
# Standardize the data with StandardScaler
X_scaled = StandardScaler().fit_transform(X)

/Users/jesssanchez/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/extmath.py:847: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
/Users/jesssanchez/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/extmath.py:689: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)