In [3]:
# Initial imports
import pandas as pd
import hvplot.pandas
from path import Path
import plotly.express as px
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas
from bokeh.sampledata.autompg import autompg_clean as df

In [8]:
# Load the listings.csv dataset.
file_path = "listings.csv"
listings_df = pd.read_csv(file_path)
listings_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,85,1,185,2021-06-21,2.45,1,338
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,65,2,401,2021-05-22,3.32,1,59
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,143,4,28,2021-06-21,0.32,10,102
3,12068,Chicago GOLD COAST 1 Bedroom Condo,40731,Dominic,NaN,Near North Side,41.90491,-87.63213,Entire home/apt,99,7,11,2021-05-09,0.14,1,242
4,12140,Lincoln Park Guest House,46734,Sharon And Robert,NaN,Lincoln Park,41.92357,-87.64947,Private room,329,2,7,2021-07-06,0.10,1,165

In [10]:
X = pd.get_dummies(listings_df, columns=['neighbourhood','room_type'], prefix_sep='_')
X

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,...,neighbourhood_West Garfield Park,neighbourhood_West Lawn,neighbourhood_West Pullman,neighbourhood_West Ridge,neighbourhood_West Town,neighbourhood_Woodlawn,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,41.787900,-87.587800,85,1,185,...,0,0,0,0,0,0,0,0,1,0
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,41.901660,-87.680210,65,2,401,...,0,0,0,0,1,0,1,0,0,0
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,41.911960,-87.639810,143,4,28,...,0,0,0,0,0,0,1,0,0,0
3,12068,Chicago GOLD COAST 1 Bedroom Condo,40731,Dominic,NaN,41.904910,-87.632130,99,7,11,...,0,0,0,0,0,0,1,0,0,0
4,12140,Lincoln Park Guest House,46734,Sharon And Robert,NaN,41.923570,-87.649470,329,2,7,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6361,50917853,Stretch out. Work. Unwind. | Studio in Chicago,342643084,Kia,NaN,41.861608,-87.625755,131,33,0,...,0,0,0,0,0,0,1,0,0,0
6362,50944574,RoomM2,327103193,Jorge,NaN,41.705821,-87.536382,22,32,0,...,0,0,0,0,0,0,0,0,1,0
6363,50944692,Room M3,327103193,Jorge,NaN,41.707917,-87.538401,21,32,0,...,0,0,0,0,0,0,0,0,1,0
6364,50950455,#E Comfy Private bedroom Shared bath Near Down...,401777272,Sweet Home Of Chicago,NaN,41.845373,-87.646210,55,1,0,...,0,0,0,0,0,0,0,0,1,0
6365,50952621,"5min to Wicker, Dtown | Quiet Flat + W&D | Zen...",47172572,Zencity,NaN,41.901909,-87.690830,97,1,0,...,0,0,0,0,1,0,1,0,0,0