In [1]:
import sqlalchemy as db
import pandas as pd

# Configure settings for RDS
db_string = "postgresql://postgres:postgres@arrestee.cjnfosnn8m7a.us-east-2.rds.amazonaws.com/arrestee"

# Connect to the arrestee Database
engine = db.create_engine(db_string)
connection = engine.connect()

#Read the CSV Data and write it in the database
data = pd.read_csv("NIBRS_ARRESTEE.csv")
data.to_sql(con=engine, name="arrestee_table", if_exists='replace',chunksize=100, index=False)

In [2]:
#Reading data from the database
connection = engine.connect()
metadata = db.MetaData()
arrestee_table = db.Table('arrestee_table', metadata, autoload=True, autoload_with=engine)
print(arrestee_table.columns.keys())

['DATA_YEAR', 'ARRESTEE_ID', 'INCIDENT_ID', 'ARRESTEE_SEQ_NUM', 'ARREST_DATE', 'ARREST_TYPE_ID', 'MULTIPLE_INDICATOR', 'OFFENSE_TYPE_ID', 'AGE_ID', 'AGE_NUM', 'SEX_CODE', 'RACE_ID', 'ETHNICITY_ID', 'RESIDENT_CODE', 'UNDER_18_DISPOSITION_CODE', 'CLEARANCE_IND', 'AGE_RANGE_LOW_NUM', 'AGE_RANGE_HIGH_NUM']

In [3]:
# Create a query that calculates the SUM of the ARRESTEE_SEQ_NUM Column Grouped By ARREST_DATE
query= db.select(
    [db.func.sum(arrestee_table.columns.ARRESTEE_SEQ_NUM).label('ARRESTEE_SEQ_NUM'),arrestee_table.columns.ARREST_DATE]
).group_by(arrestee_table.columns.ARREST_DATE)

#Execute the query
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()

#Transform the results to a Dataframe
df = pd.DataFrame(ResultSet)
df.columns = ResultSet[0].keys()
df

    ARRESTEE_SEQ_NUM ARREST_DATE
0                 15   12-JUL-19
1                 12   12-SEP-19
2                 19   24-MAR-19
3                 19   21-FEB-19
4                  9   26-FEB-19
..               ...         ...
389                8   31-JAN-19
390               11   17-FEB-19
391               14   19-MAY-19
392               16   07-NOV-19
393               19   08-MAR-19

[394 rows x 2 columns]

In [4]:
#Extract the Month from the ARREST_DATE
df["MONTH"] = pd.DatetimeIndex(df['ARREST_DATE']).month

#Attach month to its season 
seasons = {12: 'Winter',1: 'Winter',2: 'Winter', 3:'Spring', 4: 'Spring',5:'Spring',6:'Summer',7:'Summer',8:'Summer',9:'Autumn',10:'Autumn',11:'Autumn'}
df['Season'] = df["MONTH"].apply(lambda x: seasons[x])

#Create a dataframe for the Total of incident for every season
seasons_incidents= df.groupby(['Season'])['ARRESTEE_SEQ_NUM'].sum().reset_index()
seasons_incidents

   Season ARRESTEE_SEQ_NUM
0  Autumn             1340
1  Spring             1110
2  Summer             1603
3  Winter             1083

In [5]:
#Write the results to the RDS Database
seasons_incidents.to_sql(con=engine, name="seasons_incidents_table", if_exists='replace',chunksize=100, index=False)